services:
  postgres:
    image: postgres:18-alpine
    container_name: postgres
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./volumes/pg:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:8.4.0-alpine
    container_name: redis
    restart: unless-stopped
    env_file:
      - .env 
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"

  evolution-api:
    image: adaptweb/evolution-api:2.9.10
    container_name: evolution-api
    restart: unless-stopped
    env_file:
      - .env.evolution
    depends_on:
      - redis
    ports:
      - "8080:8080"

  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    container_name: rabbitmq
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5672:5672"   
      - "15672:15672"  
    volumes:
      - ./volumes/rabbitmq:/var/lib/rabbitmq

  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: ppmatxt/agenda-api:0.0.1
    container_name: api
    restart: always
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
      - evolution-api
      - rabbitmq
    ports:
      - "3000:3000"

volumes:
  postgres_data:
